.jumbotron{
    padding: 40px 0px;
    margin-top: 96px;
}

.jumbotron-img {
    background: #989898;
    border: 1px solid #989898;
    border-radius: 50%;
}

.jumbotron a{
    margin-right: 30px;
}

.card img{
    height: 250px;
}

.skills-list li{
    list-style-type: none;
}

.skills-list li a{
    text-decoration: none;
    color: black;
}

.skills-list li a:hover{
    color: #989898;
}    

.contact-section .form-group textarea{
    height: 200px;
}

.contact-section li{
    list-style-type: none;
}

.footer ul{
    padding-left: 0px;
}

.footer a img:hover{
    opacity: 0.6;
}